*{padding: 0;margin: 0;}

ul{margin-bottom: 1rem; padding: 1rem 2rem; background-color: white;
border-radius: 1rem; border: 2px solid gray;}
ul:hover{border: 2px solid blue;}
/* body{background-color: aqua; margin: 1rem;} */