*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* .heading{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  color: black;
} */

body{
  background-color: rgb(18, 20, 20);
}

